[2021-08-31 18:30] amreenp7 opened #1 "Update README for Kindly with Overview"
- [x] Add overview (vision) on GH Repo
- [x] Add previous research conducted on similar solutions on GH Repo

[2021-09-01 15:03] amreenp7 commented on #1
- Include Perspective API as well
- Also include an opinion on each of them. Some opinions on these + how they might be different (This proj was last updated X, open-source or not).

[2021-09-01 15:46] nathanfletcher opened #2 "Building of the Kindly ML Predictive Model Structure"
A further Breakdown of the Kindly roadmap.

The current implementation of the kindly repository employs a very helpful pre-trained model called [cardiffnlp/twitter-roberta-base-offensive Copied](https://huggingface.co/cardiffnlp/twitter-roberta-base-offensive). This is trained with over 50 million tweets to determine offensiveness and sentiment.
This and other open-sourced pre-trained models inspi

[2021-09-01 18:20] nathanfletcher opened #3 "Extract training data from LUIS JSON file"
We got a dump of the initial data used to train Kindly using Microsoft LUIS
That data dump is in JSON fomat.
It would have to be studied and a script would have to be written to extract and format the data into a text file.
This will be put in the [modeling/dataset](https://github.com/unicef/kindly/tree/main/modeling/dataset) directory of the Kindly repository.

[2021-09-02 21:58] nathanfletcher opened #4 "Extract training text from Microsoft LUIS"
The data obtained from Microsoft LUIS will be extracted into a text file.
This will be the initial training data for the Model

[2021-09-02 22:00] nathanfletcher commented on #4
closing a result of it being a duplicate of #3

[2021-09-02 22:00] #4 closed

[2021-09-07 14:49] amreenp7 commented on #1
Changed made

[2021-09-07 14:49] #1 closed

[2021-09-07 14:52] amreenp7 opened #6 "Blog re: Kindly Exploration"
From Roadmap: https://docs.google.com/spreadsheets/d/1NaLrLPaiLW5TZSvVpgofXZmYaFs9UtmwFJd1NcrTcdY/edit#gid=889246117

- [ ] Work with GR and Mara on the blog (ask GR if she has any contacts within Forbes or TIMES)

[2021-09-07 14:53] amreenp7 opened #7 "Initial Documentation for Kindly"
From Roadmap: https://docs.google.com/spreadsheets/d/1NaLrLPaiLW5TZSvVpgofXZmYaFs9UtmwFJd1NcrTcdY/edit#gid=889246117

[2021-09-07 14:55] amreenp7 opened #8 "Define Partner Engagement Strategy for Kindly"
From Roadmap: https://docs.google.com/spreadsheets/d/1NaLrLPaiLW5TZSvVpgofXZmYaFs9UtmwFJd1NcrTcdY/edit#gid=889246117

- [ ] Discuss training data collection strategy
- [ ] Identify which partners to involve in what way
- [ ] Setting expectations
- [ ] How to get involved docs

[2021-09-07 14:56] amreenp7 opened #9 "Prepare front-end for gathering data (Kindly)"
From Roadmap: https://docs.google.com/spreadsheets/d/1NaLrLPaiLW5TZSvVpgofXZmYaFs9UtmwFJd1NcrTcdY/edit#gid=889246117

_This is a placeholder ticket for now. This may not even be required depending on how we decide on collecting our data_

[2021-09-09 12:53] nathanfletcher opened #10 "Dockerizing codebase for production infrastructure"
It is necessary to go through an exercise to properly profile
this codebase for production infrastructure.

As a first step, I will attempt to do this by Dockerizing the necessary parts ie
[x] Python API
[x] Client Code
[x] Prepare Jupyter Notebook

[2021-09-13 15:32] amreenp7 opened #11 "Update Kindly Arch Diagram"
Redo arch diagram graph to separate backend proposed by unicef vs client.

[2021-09-13 15:33] amreenp7 commented on #11
@nathanfletcher I have created a task based on what @lacabra mentioned. Please feel free to update the desc accordingly.

[2021-09-13 15:44] nathanfletcher opened #12 "Update Architecture Diagram"
The [initial architecture diagram](https://docs.google.com/presentation/d/17rxfOuH1l8cLjLgEd9WYHk5_lcYxcDoBrbEv6k6lJT4/edit#slide=id.gea3e38b72c_2_75) of the Kindly app does not clearly separate infrastructure that will be hosted by UNICEF and infrastructure that is for demo purposes.

This issue is to update the diagram such that it would be clearer.

[2021-09-13 18:40] lacabra commented on #11
Closing as duplicate of #12. Thanks @amreenp7

[2021-09-13 18:40] #11 closed

[2021-09-15 17:24] amreenp7 opened #14 "Create plan to gather training data for Kindly"
- [x] Schedule meeting with Thomas and GR
- [x] Discuss who we want to reach out to and how we want to collect the data
- [x] Set timelines and expectations for outreach

From Roadmap: https://docs.google.com/spreadsheets/d/1NaLrLPaiLW5TZSvVpgofXZmYaFs9UtmwFJd1NcrTcdY/edit#gid=889246117

Objective: Kindly reaches 100,000 users, with 10,000 children contributors by 12/31/21
OKR4: 10 partners facili

[2021-09-16 17:18] nathanfletcher opened #15 "Look into Language specific model prediction."
This effort is the path to help make Kindly support multiple languages in the future.

[2021-09-16 23:19] lacabra opened #17 "Cache download of model in docker image"
Currently, the first time that we launch a container, and we hit the `/detect` endpoint, the Python code downloads the ML model from a remote repository ([ref](https://github.com/unicef/kindly/blob/1a2d7ffe12cca83c457cdb2a8edf560002e9d0db/api/flasksample.py#L63)). This introduces  a long delay (~40s) in responding to the first request.

With the goal of optimizing for minimal response time, this m

[2021-09-17 13:18] #17 closed

[2021-09-17 14:34] lacabra commented on #7
The initial documentation is now in place. Closing.

[2021-09-17 14:34] #7 closed

[2021-09-17 14:37] #10 closed

[2021-09-20 15:09] #12 closed

[2021-09-20 16:51] lacabra opened #24 "Design Client Demo UI for Kindly"
**Feature Request**

As part of the Kindly project (see [2-pager overview](https://docs.google.com/document/d/18DvrmiQEKhaPh80FHAPwkVyVlUj-81r_Rdks5ygTxRE/edit?usp=drive_web&ouid=106544392152177223836)), we have developed a very rough single page UI for demo purposes (see screenshot below). The actual product offering of the Kindly project is an API that others can query and integrate with existin

[2021-09-20 21:33] #3 closed

[2021-09-20 21:49] lacabra opened #25 "Implement token authentication in HTTP header"
In order to deploy the docker image of the API container in production, we need to implement a simple authentication mechanism. As discussed offline, we are proposing a token authentication using HTTP headers, following the Bearer Token specification, where in short, the client needs to include the following HTTP header in any incoming request:

[code]

- [ ] Modify api.py Flask code to check for

[2021-09-22 12:38] nathanfletcher opened #27 "Automate DockerHub Image Push with GitHub Actions"
In order to further streamline deployments, it is important to automate this DockerHub deployment process.
The current process of deploying from my local machine has begun to be a tedious process.
As such, an action will have to be created to do a handoff to proper CI.

[2021-09-22 14:24] #27 closed

[2021-09-22 15:49] amreenp7 commented on #24
Single page application

- Section 1: (Overview) What is Kindly? How does it work? Simple architecture diagram. How can you integrate with it?
- Section 2: (Functionality) User must be able to type text and view results
- Section 3: (How to Get Involved) Contact Us, FAQ

Sample sites: https://www.perspectiveapi.com/

[2021-09-22 15:51] amreenp7 commented on #24
Amreen to ask Ronen for kindly@unicef.org --> distr list i.e. any email sent to this goes to a bunch of us (Ronen, Victor, Amreen)

[2021-09-22 17:17] nathanfletcher opened #29 "Monitor / Improve API request latencies"
This issue is to help keep track of API latency times and to put in the effort to document and improve on it.
Currently, response times are between `5.185s - 7s`

[2021-09-24 14:31] #8 closed

[2021-09-28 17:19] nathanfletcher opened #30 "Update Kindly App Environment variables"
Without set environment variables, the API would be open to serve requests from multiple sources.
It is necessary to set them according to the env variable template.
Currently performing this task for
- [kindly_client](https://hub.docker.com/repository/docker/nathanfletcher/kindly_client)
- [kindly_api](https://hub.docker.com/repository/docker/nathanfletcher/kindly_api)

[2021-09-29 15:06] #14 closed

[2021-09-29 16:32] nathanfletcher opened #31 "CORS implementation on API"
Implement an allowed list of sites that can access the Kindly API

[2021-09-30 22:28] lacabra opened #33 "[Outreachy] Test the code, improve documentation"
The Kindly project is in the early stages of development, and as such we know the project could benefit from expanding the available documentation. In order to improve the documentation, we would very much appreciate you working through the following steps:
1. Follow the instructions in the[ development documentation](https://github.com/unicef/kindly/blob/main/docs/development.md) to set up this r

[2021-10-01 02:34] nathanfletcher commented on #30
@lacabra
- Currently, these can be passed through the service hosting Kindly without any code implementation.

- Another strategy would be to include them via environment keys in the GitHub action that builds the final container image to DockerHub

The second choice above seems more open saucey to me, but I'd like to hear what you think.

[2021-10-01 03:19] lacabra opened #35 "[Outreachy] Instrument the code for benchmarking purposes"
The current version of the code can benefit from a number of improvements and optimizations in performance and to reduce response time in the API (latency). Thus, we would like to know how long each operation takes to know where the biggest delays are introduced, and to know where are the best places to put our efforts into.

This requires measuring how much time it takes to run each major functio

[2021-10-01 11:40] internetmosquito commented on #35
Hey Victor,

I love the project and what you're building, I actually found this via Hacktoberfest but I'd like to participate. If you want I can look into this one.

Cheers!

[2021-10-01 12:16] lacabra commented on #35
hi @internetmosquito, thanks for stopping by and getting interested in the project, glad that you are here 👊

Yes, please; you are welcome to work on this issue, labeling `hacktoberfest` so that you can claim a contribution when you complete it. But let me ask you a question: how did you find this through Hacktoberfest, if nothing in this repo was marked as such? I would love to understand how you

[2021-10-01 12:53] internetmosquito commented on #35
Hey again @lacabra

Sure, the sequence is as follows :D

I was inspecting this looking for good repos to do some initial contribution

https://hacktoberfest.digitalocean.com/resources/beginners

This led me to this other page:

https://www.firsttimersonly.com/

On that page I found this:

https://goodfirstissues.com/

And then making a search filtering by Python I stumbled upon your project :)

Th

[2021-10-01 14:06] lacabra commented on #35
Thanks @internetmosquito for taking the time to detail your journey over here, it is super useful for us to understand how to attract more contributors, much appreciated 🙏

Answering your questions:

- Yes, there is an instance of the container images in this repo currently deployed in Azure (but they are not public yet)
- The scope of the test is local, as you point out. The tests don't even have

[2021-10-01 15:57] internetmosquito commented on #35
awesome, thanks, will get to it

[2021-10-01 18:24] AyiteyDjaba commented on #29
From what I have seen so far, you can only convert a model to Tensorflow.js if it was originally built with Tensorflow. I have no idea if the cardiffnlp model is based on Tensorflow. However, in the grand scheme of things, moving the backend completely to NodeJS would not be a problem if we are training our own model because we can train and serve the model with tensorflowjs

[2021-10-04 14:20] nathanfletcher commented on #33
hi @ssurbhi560 I agree with you that there can be a line describing which python version is used in the development

However, I'm currently using `python 3.8.0` and the TensorFlow version that shows when I run `pip freeze` is below
[code]

[2021-10-04 14:24] amreenp7 commented on #9
Update: NF + VGS to update the front-end interface so that users can enter words/phrases that get collected on the backend + users can also validate the output (check, X).

[2021-10-04 14:31] amreenp7 opened #36 "Edtech Partner Outreach"
- [ ] Draft email template (1 for known contacts, 1 for cold contacts), send to VGS for review
- [ ] Find contact info for 10 edtech companies
- [ ] Email 10 contacts, follow-up within a week

Side note:
- Start with Scratch Foundation, Coursera, possibly Flipgrid, Kahoot (maybe?)

[2021-10-04 15:24] amreenp7 commented on #9
Victor to add details

[2021-10-04 15:41] nathanfletcher opened #37 "Documenting Kindly findings so far"
This task is to write up a draft of how work went into the decision-making process of the model design structure and how it got to where it is now.

[2021-10-04 15:45] ssurbhi560 commented on #33
@nathanfletcher , sorry but running only `pip install` gives an error, did you mean `pip install -r requirements.txt` above?

[2021-10-04 16:13] lacabra commented on #33
@ssurbhi560 Thanks for your interest in contributing to this project. Triggered by your comment, I looked at my local environment, I realized that running a different Python version than @nathanfletcher, I got my own set of conflicting dependencies, and solved them to generate a different version of `requirements.txt`. So I have partially addressed your comment above in #38, but I encourage you to

[2021-10-04 16:35] lacabra opened #39 "Outreachy December 2021"
Dear Outreachy Participants,

First and foremost, thank you for you interest in contributing to the work of UNICEF. We have been humbled by an outpour of enthusiasm and contributions in prior editions of Outreachy, and we expect this time will be no different, so you all have our deepest gratitude in advance 💙

To be considered for the upcoming internship starting in December 2021, please be sure

[2021-10-04 16:37] amreenp7 commented on #39
Looking forward to meeting you all (virtually). Wishing you all the best!

[2021-10-04 16:42] nathanfletcher commented on #39
Can't wait ! See you all!

[2021-10-04 17:34] ssurbhi560 commented on #33
@lacabra @nathanfletcher , thank you for addressing this, I will also look into it more.

[2021-10-04 20:47] lacabra opened #40 "Code pure Javascript version of Kindly for integration with UNICEF website"
Code and test minimal version of Kindly for integration within unicef.org main website. It should be pure javascript and make no assumptions on any other existing dependencies.

[2021-10-06 13:44] nathanfletcher opened #42 "Include model folder in initial directory structure"
When I went through the setup process while documenting and going through the documentation, I was strangely running into an error when running the `python api/get_model.py` script.
This was because the `model` folder that would hold the resulting files did not exist.
I also ran into an issue where I accidentally committed the model file with all its contents because that folder was not ignored.
S

[2021-10-06 13:55] nathanfletcher opened #44 "Update workflows to also build client image"
I realized that there was no workflow to also build the demo client image
in order to test the environment variables.
This is as a result of trying to test #30

According to the [initial architecture of Kindly](https://docs.google.com/presentation/d/17rxfOuH1l8cLjLgEd9WYHk5_lcYxcDoBrbEv6k6lJT4/edit#slide=id.gea3e38b72c_2_75), this auto-build of the image has to be done. It is currently only done f

[2021-10-06 15:30] lacabra opened #45 "Split up current docs/development.md"
Split up current `docs/development.md` file into two different files that cover `development` and `deployment` separately. Right now, they are mixed up and I believe it may lead to some confusion.

[2021-10-06 18:01] lacabra commented on #30
Option 1 is the preferred way to go, otherwise someone can download an image of the container, run it and inspect these environment variables, so they would no longer be secrets. Because the scope of this is to have a robust and secure production deployment, this has nothing to do with open source, so option 1 is the way to go. We are already hosting all the code in an open source repository 😉

[2021-10-09 03:38] lacabra commented on #39
Thanks @rgrupesh, that's a question for @nathanfletcher. Let's wait for his response. You can tackle the next items on the list for now. Sorry about the inconvenience

[2021-10-09 20:05] Ashara-kosi commented on #33
Hello @lacabra

I have tried setting up kindly locally and I also had conflicting dependencies because of the Keras version specified. I would like to know how to go about solving this. Do I edit the Keras version specified in the requirement.txt file?

![Screenshot (187)](https://user-images.githubusercontent.com/54239952/136672402-e81bb7a5-761d-4d0f-9064-c88965bd1f76.png)

[2021-10-10 14:51] rgrupesh commented on #33
Hello @lacabra ,

I am consistently getting this error message even though I have `.env.template` file in my root directory. Front end is setup successfully but when making a request it shows `TypeError`. I have tried both with and without docker. Please, look at this.

### error message
![Screenshot from 2021-10-10 20-24-37](https://user-images.githubusercontent.com/54068868/136700516-88e9802f-5e

[2021-10-10 20:15] Ashara-kosi commented on #33
Hello @rgrupesh

I experienced a similar issue like this, you could try adding your localhost: port to the list of allowed_origins in the api.py file
Let me know if that works for you.

[2021-10-11 06:00] MuluhGodson commented on #39
Hi @nathanfletcher @lacabra @amreenp7
It's a great pleasure to be here. I just completed the first step which is completing the Machine Learning Codelab. It was a wonderful experience, although some parts of the code had some issues but I learnt a great deal and amazingly earned my 5th badge (First Codelab Completed).
![image](https://user-images.githubusercontent.com/40151808/136740363-ce787402-0

[2021-10-11 08:49] Ashara-kosi commented on #33
Okay @rgrupesh

Remember to remove the backslash at the end of your `localhost: port` and restart the python server

![Screenshot (190)](https://user-images.githubusercontent.com/54239952/136761048-5bb4af4b-6248-4228-a79a-a91dcaaa9681.png)

[2021-10-11 12:37] #30 closed

[2021-10-11 13:53] amreenp7 opened #50 "Kindly PM Work"
Ensure the following are completed:

- [x] Front-end for users to provide training data
- [x] unicef.org/kindly landing page (split the request into two: 1) creation of static page w/ content, 2) code embedding)
- [x] Kindly stand-alone website mockups (**check-in with Kristina**)
- [x] Kindly stand-alone website development
- [x] **FAQ responses**
- [x] Outreach to internal and external partners

[2021-10-11 15:28] nathanfletcher opened #51 "Writeup notes on kindly"
This task is to write up a draft of how work went into the decision-making process of the model design structure and how it got to where it is now.

[2021-10-11 15:36] #51 closed

[2021-10-11 17:14] lacabra commented on #33
Hi @rgrupesh: please note that `.env.template` is a template. It is not the actual file. You should copy that file into another file named `.env` as that is the file that the software looks for to fetch environment variables. Let me know if this fixes your problem.

[2021-10-11 20:24] #45 closed, assigned to lacabra

[2021-10-11 20:33] lacabra commented on #33
Great to hear @rgrupesh. FYI, the[ developer documentation](https://github.com/unicef/kindly/blob/main/docs/development.md) has been updated accordingly.

[2021-10-11 21:11] lacabra commented on #35
Thanks @internetmosquito for the update. I've cleared the assignment for now in case someone else wants to take this on, but if it is still available when you are able to work on this, by all means do, and ping me again. Thanks!

[2021-10-12 01:09] nathanfletcher commented on #39
Hi @Jeraldson, you can use an alternate notebook such as Google Colab. [Google Colab](https://colab.research.google.com/) is a great alternative notebook to try it in. However, it may have its own way of exporting the file you come up with to your GitHub. The instructions may not be the same. You will have to figure that out.
You can also proceed with the other tasks and come back to this later.

[2021-10-12 16:29] Simpleshell3 commented on #33
@sabinevidal   Unauthorized keys in the request will return a 403 HTTP error. To solve the error, run the command: **curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer klasjdflkja" http://localhost:8080/** from within the client directory.
That should do the trick
![unicef1](https://user-images.githubusercontent.com/92247771/136994517-0e72e2ff-2a91-429b-ac3d-0bf4596ebc2a.PN

[2021-10-12 16:37] sabinevidal commented on #33
@Simpleshell3
Yeah, could get the `curl` request to work with the correct bearer token. But I still get a 403 error with an `axios` request and on the actual site when submitting a phrase.

[2021-10-13 05:36] abidKiller commented on #35
hey @lacabra i would like to work on this. can you assign me the task?

[2021-10-13 09:31] rgrupesh commented on #39
Hello @lacabra , @amreenp7 , @nathanfletcher

I have completed my `first`(Prototyping models in AI Platform Notebooks) and `fourth` task(Run the Kindly API and Client locally and contribute to the documentation).

Here is the link to the notebook:
`github:` [link](https://github.com/rgrupesh/ML-DL/blob/master/TensorFlow/UNICEF/TFModel_UNICEF_notebook.ipynb)
`nbviewer:` [link](https://nbviewer.org/

[2021-10-13 18:33] nathanfletcher opened #59 "[Outreachy] Write Python Tests for Kindly API"
There should be at least a unit test especially for the API endpoints - `/detect`
Anyone can feel free to pick this up.

[2021-10-13 20:13] dkchebet7 commented on #39
I am a bit late in joining the fun, but I am looking forward to making awesome finds.
Cheers!

[2021-10-14 15:11] Ashara-kosi commented on #59
Hi @sabinevidal

Would you like some assistance on this task?
I would like to collaborate with you on this.

[2021-10-14 18:37] abidKiller opened #60 "Development document is not Windows friendly"
Development.md is not suitable for windows. I think steps to setup the environment in windows should be added as many devs like me might be comfortable using windows.

[2021-10-15 11:28] sabinevidal commented on #59
Hey @Ashara-kosi
I've just published my branch! https://github.com/sabinevidal/kindly/tree/api-unit-tests

You will need to run `pip install pytest` in your `env`, then in the main folder you can just run `pytest` and it will work.
Ran across a problem, so hopefully you'll be able to help! When I run the tests as is they fail because they can't find the right model folder at this point in `api.py`

[2021-10-15 16:19] abidKiller commented on #35
I've done it like this : kind of Api unit testing.
[code]
![image](https://user-images.githubusercontent.com/43814196/137519612-ab2e7881-5906-4f3b-9da4-ab7cf01c1b05.png)

I've made it conditional, won't cause any conflict.

[2021-10-15 17:57] lacabra opened #63 "Install and configure Pylint as Python linter"
Add Python linter (Pylint) for the code in `api/`

Configure a pre-commit hook to ensure that linting is consistent before committing code (the analogous in NodeJS is [this](https://github.com/lacabra/submission-digitalpublicgoods/issues/14))

[2021-10-15 18:00] lacabra opened #64 "Add GitHub actions to enforce Python code style"
After having implemented #63,  configure the CI through GitHub Actions to enforce the code style upon committing files to the repo

The analogous in NodeJS would be something like [this](https://github.com/lacabra/submission-digitalpublicgoods/issues/15))

[2021-10-15 18:01] lacabra opened #65 "Add Javascript linter"
Add and configure ESlint + Prettier + Husky for the NodeJS code in `client/`

If you want to propose a different setup, please discuss the details of your proposal on this issue before submitting a pull request.

Use lacabra/validate-digitalpublicgoods#14 for reference

[2021-10-15 18:01] lacabra opened #66 "Add GitHub actions to enforce Javascript code style"
After having implemented #65,  configure the CI through GitHub Actions to enforce the code style upon committing files to the repo. Use lacabra/validate-digitalpublicgoods#21 as a reference implementation

[2021-10-15 19:05] lacabra commented on #15
Disclaimer: we have some potential collaborators outside of Outreachy that may be working on this, so this is why we are not assigning this right away (also this is potentially a very big scope, much bigger than what we would expect you to tackle at this stage). Having said this, we're curious to learn more how you would approach this. Thank you 🙏

[2021-10-15 19:48] Simpleshell3 commented on #15
@lacabra Thank you. The model that powers Kindly for offensive tweet classification is [Twitter-roBERTa-base for Offensive Language Identification](https://huggingface.co/cardiffnlp/twitter-roberta-base-offensive).  This model doesn't have multiple language support. This is a roBERTa-base model trained on about 58M tweets and finetuned for offensive language identification  for English-Only. I am

[2021-10-15 22:50] Ifeanyi30 commented on #39
Hey guys! I used jupyter notebook in vscode for the first task solution, hope its alright.

https://github.com/Ifeanyi30/kindlycodelab

[2021-10-15 22:55] Ashara-kosi commented on #63
Hello @lacabra

I would like to jump on this.

[2021-10-15 23:00] Ashara-kosi commented on #59
Hello @sabinevidal

I have been able to resolve the error..apparently, the model was not referenced correctly.

The tests now pass!!!

[2021-10-16 09:39] Ifeanyi30 commented on #35
Hi @lacabra! I would like to know if @internetmosquito is still working on this issue. I would love to give it a try

[2021-10-16 11:16] Melodie97 commented on #39
Hi @nathanfletcher @lacabra
I'm currently working on the 4th task - [Outreachy] Test the code, improve documentation #33
I tried following the deployment documentation and running the code locally on docker, I realized there were no instructions on how to add the token during the docker build/run process. I have made changes to the documentation locally and would like to know if it's ok to push th

[2021-10-16 13:13] lacabra commented on #39
Hi @Melodie97, thanks in advance for your contribution. Thanks for asking, but you don't need our permission to open a pull request to propose new changes, everyone is welcome to contribute anytime. Please go ahead and open a pull request and we'll review and discuss with you there 💪

[2021-10-16 13:24] lacabra commented on #65
Thanks @rgrupesh, this issue has been assigned to you

[2021-10-17 19:31] abidKiller commented on #35
#62

[2021-10-17 19:32] abidKiller commented on #35
#62

[2021-10-18 12:37] Melodie97 commented on #39
Hi  @lacabra
I've contributed to the fourth task -  [Outreachy] Test the code, improve documentation #33, and created a pull request

[2021-10-19 14:24] amreenp7 commented on #36
Awaiting responses

[2021-10-19 15:46] sabinevidal commented on #59
@lacabra
Ok, thought so - I'll finish creating the rest!
Thanks!

[2021-10-20 12:43] Lovelyfin00 commented on #66
Hello @lacabra can I be assigned to this? I'm new to github so I don't know how long it will take for me to do this. But I would love to give it a try. Thank you!

[2021-10-20 13:46] lacabra commented on #66
@Lovelyfin00 yes, I have assigned to you. Please note that #65 (there was a typo in the original description that has been corrected) needs to be completed first before this issue can be tackled. I also provided how a similar task was accomplished in a similar repository for your reference. You can start learning about [GitHub Actions](https://docs.github.com/en/actions/learn-github-actions) in th

[2021-10-21 13:53] #44 closed

[2021-10-21 17:25] AyiteyDjaba opened #76 "Initial Kindly Model performing poorly because of imbalanced data"
The dataset attached to the datasets folder needs to be tidied up. Some messages are wrongly labeled as being offensive. Also, the dataset is imbalanced i.e. (more than 80% of the data is one class) and it could be causing the model to perform poorly.

The first step is to clean up the dataset and then use data augmentation to generate more data to balance out the dataset.

[2021-10-21 20:58] Ashara-kosi commented on #63
I have already been able to solve those issues with the mentor's help

If there are more changes to be made, I would add you as a contributor to my fork repo making it easier for us to collaborate

Thank you

[2021-10-21 22:43] #63 closed, assigned to Ashara-kosi

[2021-10-22 19:33] #59 closed, assigned to sabinevidal

[2021-10-22 19:45] lacabra opened #80 "Add GitHub Actions to enforce unit tests in CI"
As a result of implementing unit tests in #61, the next steps is to automatically run these on every commit through GitHub Actions to ensure that any new contributions do not break the existing functionality (and that new functionality will include the corresponding unit tests). For an example of a related implementation (using Javascript instead of Python), refer to the [CI implementation](https:

[2021-10-25 20:26] lacabra opened #84 "PytestConfigWarning: Unknown config option: env_files"
When running `pytest` I'm getting the following warning:
[code]
which then causes another error because `HEADERS` is not set as an environment variable.

[2021-10-25 21:01] #84 closed, assigned to nobody

[2021-10-31 21:05] Ashara-kosi commented on #64
Alright @NayOoLwin5
Some changes where requested to be made on your pr, I would work on them and send a new one

[2021-11-01 16:01] nathanfletcher opened #92 "Get specific ML infrastructure needed training in development mode"
With the help of @nathanbaleeta  this issue would be to:
- test out Google ML on Google cloud with retraining of models. (Sign up to GCloud)
- get specs of adequate infrastructure used
- report back on how well it worked and how much credit would be needed

[2021-11-01 19:24] #64 closed

[2021-11-03 13:10] nathanfletcher commented on #66
Hi @Melodie97 I've added you as a co-collaborator. Can't wait to see what you both come up with.

[2021-11-03 14:34] Lovelyfin00 commented on #66
Issue #65 hasn't been resolved yet

[2021-11-03 18:35] nathanfletcher commented on #15
Hi @Simpleshell3, thanks for looking into this and providing these amazing stats with your proposal.

Upon further examination, there are a number of concerns in technical deployment that come up when working with this strategy.

- It is good that this model targets 8 languages however, in terms of scale, this will make the final model file very large. This will increase the time it takes to extra

[2021-11-03 18:41] sabinevidal commented on #80
Hi @lacabra !
Think this issue would be closed by #91 unless there's anything else which needs to be added?

[2021-11-03 22:11] lacabra commented on #80
Yes, indeed, thanks for catching this 🙏

[2021-11-03 22:11] #80 closed

[2021-11-05 15:03] #50 closed

[2021-11-08 16:06] nathanfletcher opened #95 "Update Doc on structure of training data"
Update `modeling/dataset/ReadMe.md` with the following:
- Current source of training data
- Where training data will be coming from (web url/ sheet)
- How it will be reformatted back to the current format
- Any changes that will be made to the process

[2021-11-08 16:10] nathanfletcher opened #96 "Azure Learn"
Learning topic on Microsoft Azure
- [x] Logging query language
- [ ] Dynamic resource allocation on App Service
- [ ] Azure container registry

[2021-11-08 16:34] #92 closed

[2021-11-08 19:18] lacabra commented on #95
And sync with the content at https://unicef.github.io/kindly/ml-model/training-data

[2021-11-08 21:23] #9 closed

[2021-11-09 21:58] nathanfletcher opened #98 "Outline of technical tasks for Kindly"
This issue is to come up with a list of clearly defined technical tasks and areas to be looked at in the efforts to build out Kindly.

[2021-11-09 22:02] nathanfletcher commented on #76
@AyiteyDjaba thanks for bringing this up. Could you show some of the output of your findings from your Notebook? We could use it as the initial baseline and rerun it as the data improves.

[2021-11-09 22:04] nathanfletcher commented on #76
@lacabra could you please assign this to @AyiteyDjaba ? I would be a co-assignee

[2021-11-09 22:48] lacabra commented on #76
@nathanfletcher Done. But for the record, you have the same admin privileges that I do, so you can assign issues all the same :)

[2021-11-10 16:10] #37 closed

[2021-11-10 16:14] #65 closed

[2021-11-10 16:15] nathanfletcher commented on #66
#65 has been okay-ed.

[2021-11-10 17:38] lacabra commented on #60
Fixed in #72

[2021-11-10 17:38] #60 closed

[2021-11-10 19:37] lacabra commented on #39
Closing this issue as most of the linked issues above have been resolved and the Outreachy selection period has ended. The selected intern will be announced on November 22, 2021.

 Thank you all for all of you amazing contributions to UNICEF, Digital Public Goods and Kindly! 💪 🙏

[2021-11-10 19:37] #39 closed

[2021-11-10 19:37] #33 closed

[2021-11-15 16:18] #96 closed

[2021-11-15 16:48] nathanfletcher opened #100 "Compile Technical List of tasks for Kindly."

[2021-11-15 16:50] nathanfletcher opened #101 "Prioritize Workflow for anonimizing Kindly training data"
This Issue is to list out a process or strategy of how to clean data coming from the Kindly website.
Present suggestions to @lacabra  by Wednesday meeting.

[2021-11-17 18:14] #95 closed

[2021-11-24 13:44] nathanfletcher commented on #101
This workflow is currently being implemented. Moved issue form review to In-Progress

[2021-11-28 12:54] emmanue commented on #101
Nathan can I help, I have some experience in this domain. I will like to contribute.

[2021-11-28 12:56] emmanue commented on #100
I'm available to contribute.

[2021-12-02 20:04] lacabra opened #107 "Track down License for twitter-roberta-base-offensive dataset"
As [documented](https://unicef.github.io/kindly/ml-model/prebuilt), Kindly currently uses the [twitter-roberta-base-offensive dataset](https://huggingface.co/cardiffnlp/twitter-roberta-base-offensive), which is[ licensed without any restrictions](https://github.com/cardiffnlp/tweeteval#license), but refers to the original license for additional information.

This dataset is used in [this study](ht

[2021-12-02 20:34] lacabra commented on #107
Made a request for the inclusion of a LICENSE in joeykay9/offenseval#1

[2021-12-03 10:24] nathanfletcher opened #108 "FEATURE: Contributions Counter on Kindly website"
### Please Describe The Problem To Be Solved
The current [Kindly website](https://kindly.unicef.io) accepts contributions of offensive and non-offensive phrases and sentences from users on the [contributions page](https://kindly.unicef.io/contribute).
However there is no way to know on the website how many contributions have come in, and how many are in the current [training dataset file](https://

[2021-12-03 15:36] lacabra commented on #108
@nathanfletcher: I would suggest to keep issues separate for easier tracking. In the list above, items 4 and 5 are not related to this task, and a different issue should be created for these.

Related to the issue at hand, items 2 and 3 don't need to be part of GitHub Actions. Yes, they can should be scripted, and they may be run as part of a build that happens in GitHub Actions, but I find the me

[2021-12-06 14:04] #6 closed

[2021-12-06 16:07] nathanfletcher commented on #100
sure thing @emmanue. Thanks for being willing to contribute.
I'm currently closing this one but lookout for the other's that will be created after this or previously created ones. Thanks once again.

[2021-12-06 16:08] #100 closed

[2021-12-07 13:40] sabinevidal commented on #108
@lacabra @nathanfletcher:
So looking through how the data is populated into the Intake form (sheet_1) Google sheet, I realised it might be worth changing the 3rd column 'intent' to something else to better describe what the 'yes'/'no' options are, as they are not the intent of the text, but rather checking if the intent detected by the API is correct (as on the website).
And then have a 4th column

[2021-12-07 16:56] lacabra commented on #108
@sabinevidal: the 3rd column is intentionally designed the way it is, because what it records is whether the user believes there is a cyberbullying intent in that sentence, regardless of what the API marked as. This is designed this way because that is the structure of training data: `sentence` and `0 / 1` for whether there is cyberbullying intent to train the algorithm.

What is not apparent is h

[2021-12-07 17:37] sabinevidal commented on #108
@lacabra
That makes more sense - will add a comment to make sure that distinction is clear. And could then map the yes/no to the 0/1 label so it's consistent along the backend.
Many of the current inputs haven't been assigned an intent yet, as the yes/no isn't 'required', should this then be added when the data is anonymised if it's not there?

[2021-12-07 18:02] lacabra commented on #108
@sabinevidal

Yes,  we will add that manually when UNICEF staff reviews and anonymizes 👍

[2021-12-10 20:42] lacabra opened #110 "Update Nov/Dec Timeline"
Update the [timeline](https://unicef.github.io/kindly/timeline) with the updates received from Gitanjali and Thomas

[2021-12-10 20:42] lacabra opened #111 "Update Nov/Dec Timeline"
Update the [timeline](https://unicef.github.io/kindly/timeline) with the updates received from Gitanjali and Thomas

[2021-12-13 16:09] amreenp7 commented on #110
Submitted PR: https://github.com/unicef/kindly/pull/112

[2021-12-13 16:09] amreenp7 commented on #111
@lacabra - is this a duplicate?

[2021-12-15 18:27] #110 closed

[2021-12-20 16:42] sabinevidal opened #113 "Onboarding Workflow"
Look into creating a workflow diagram which gives on overview of onboarding into Kindly
- who will contribute and how (non-technical vs technical)
- what's the need to know info
- what contributions one can make (ie training data, documentation, issues)

[2022-01-17 18:27] sabinevidal opened #120 "Workflow Github account details update"
@nathanfletcher GitHub account details required for the dataset updates workflow, and setting change to allow for commit without review.

[2022-01-17 18:37] sabinevidal opened #121 "Include the Google Apps Script file in the Kindly repo."

[2022-01-18 08:41] sabinevidal commented on #113
Useful code to add to index:
- Google Sheets API to Github (potential blog post too with in-depth info)
- `process` function in `api.py` where options for where input text will be processed (ie our model or cardiffnlp)

@nathanfletcher @lacabra: Any other interesting or important blocks of code I could add?

[2022-01-19 16:19] nathanfletcher opened #125 "Beginning work on Contribution guidlines"
In light of efforts to build a contribution guideline, I'm looking into a number of my favourite open-source projects as a guide.

[2022-01-19 16:22] #120 closed

[2022-01-19 22:02] lacabra commented on #125
@jwflory probably has some very good recommendations and advice, be sure to reach out to him

[2022-01-21 17:54] #121 closed

[2022-01-24 16:14] sabinevidal opened #128 "BUG: dataset-update workflow failing"
Workflow failing [here](https://github.com/unicef/kindly/runs/4915566973?check_suite_focus=true) due to permission issue while using @nathanfletcher's GitHub details. He has bypassed his account for the review approvals
[code]

[2022-01-24 16:37] sabinevidal opened #130 "Using Google App Scripts, notify contributors to anonymize data after every 10-20 contributions are added to the Google Sheet."

[2022-01-24 17:11] sabinevidal commented on #128
@nathanfletcher
Seems to be the `GITHUB_TOKEN` which is blocking the permissions (a safety fallback which makes sense)
https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101
However, if we create a PAT for you, then we'll have an endless workflow (see this [comment](https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101/10) and the repl

[2022-01-24 17:29] sabinevidal commented on #128
An interesting write up on the possible vulnerability of bypassing PRs with Github Actions. Seems GitHub has implemented a fix though.
https://medium.com/cider-sec/bypassing-required-reviews-using-github-actions-6e1b29135cc7

[2022-01-26 15:48] #66 closed

[2022-01-26 16:38] sabinevidal commented on #128
@nathanfletcher: as discussed, we just need a PAT for your account with the permissions required for the commit to a protected branch. Save it as `PAT_TOKEN` in secrets

[2022-01-27 15:05] #130 closed

[2022-01-28 00:12] jwflory commented on #125
Hey! Contributing guidelines are a great next step for the project. It also seems @sabinevidal may have started on this in #115 too.

Generally, the first place I begin with contributing guidelines is thinking through the types of participation you are capable of facilitating and participation you would like to have. Then, you can frame the guidance around that kind of participation with a specifi

[2022-01-28 07:08] nathanbaleeta commented on #125
@jwflory please find [here](https://unicef.github.io/kindly/) existing project documentation for Kindly.

[2022-02-01 09:21] sabinevidal opened #138 "Update Review Alert script with contact details"
Need to update the Google ReviewAlert script with either an email address for the alert to go to,
OR
Add Slack integration to send a note to the Kindly channel

[2022-02-02 10:22] nathanfletcher commented on #138
A single kindly email alert would be great. We child either
- setup a Google group email address which were are all subscribed to
- let the email assist code send to all our emails

I'm thinking the later would be best cc @amreenp7

[2022-02-02 12:18] jwflory commented on #125
@nathanbaleeta Super! I didn't realize it was all on Docusaurus. Bonus points for easy management of [Markdown source files](https://github.com/unicef/kindly/tree/main/docs-website/docs).

Is there bandwidth with the team to put together a first pass for contributing guidelines? I think it is best if someone more familiar with the project drafts it, but I can definitely weigh in and share feedback

[2022-02-02 12:37] sabinevidal commented on #125
@jwflory: @nathanfletcher was looking into contribution guidelines! I'm in the process of updating the guidelines with more in-depth info about the project and contributing, especially with the view to simplify and make it easier for new contributors (see #115 ).

[2022-02-02 13:03] jwflory commented on #125
Nice! I see you have a [new category](https://github.com/unicef/kindly/blob/4e26c36079d485f4decbdfe6c98f7482f6896d12/docs-website/docs/contributing/_category_.json) and several pieces of [new content](https://github.com/unicef/kindly/blob/4e26c36079d485f4decbdfe6c98f7482f6896d12/docs-website/docs/contributing/overview.md) there. I am guessing there is still some [cleaning up](https://sabine.hashno

[2022-02-02 15:50] jwflory commented on #125
@nathanfletcher and I had a chat just now on contributing guidelines and a few other topics in my Open Source Office Hours. Here are some examples of contributing guidelines from other open source projects and communities:

## Best practices & advice

These two resources are very helpful. The article gives context for what goes into good contributing guidelines, and the second is a template you ca

[2022-02-02 16:25] amreenp7 commented on #128
NF to double check if 134 is completed.

[2022-02-03 17:10] #128 closed

[2022-02-07 18:59] sabinevidal commented on #138
Have added emails for Amreen and Nathan in the Google Apps Script ReviewAlert

[2022-02-07 18:59] #138 closed

[2022-02-09 15:37] sabinevidal commented on #108
Contribution Counter is now visible on the contribution page https://kindly.unicef.io/contribute
Available as a component to add in other areas of the site.

Google Apps script set up to transfer contributions from the input sheet into the output sheet on Google Sheets.
Workflow created to bring data from output sheet into the [training data file](https://github.com/unicef/kindly/blob/main/modelin

[2022-02-09 15:37] #108 closed

[2022-02-10 17:02] sabinevidal opened #144 "FEATURE: Add prompts tracking to contributions"
Keep track of the prompt used for each contribution for easier reviewing, and setting up the model for future context awareness.

Linked to https://github.com/unicef/kindly-website/pull/40

TODO on Kindly Google scripts:

- [x] add `e.parameter["prompt"]` to `newRow`
- [x] change counter cell to new cell
- [x] change to `sheet.getRange(nextRow, 5).insertCheckboxes();`
- [x] Discuss where and how p

[2022-02-15 16:49] sabinevidal commented on #144
Website updated: https://github.com/unicef/kindly-website/pulls?q=is%3Apr+is%3Aclosed

[2022-02-21 16:53] #144 closed

[2022-02-23 17:09] sabinevidal opened #149 "FEAT: Discord bot for Kindly"
Look into building a Discord bot that would flag any messages that have cyberbullying intent.
Bot would analyse new messages and either post a comment or reaction to flag any cyberbullying.
Link to contribution - to increase awareness and reach.

Find partners who use Discord (particularly with children/teens/young adults), who would be willing to add the bot to their channel.

[2022-03-03 17:13] ewheeler commented on #76
Agree with @AyiteyDjaba that the quality of the label annotations is concerning

Here are a few that stood out to me as incorrectly labeled as offensive:
- "i will not leave you"
- "leave me alone"
- "sleepyhead"
- "wake up"
- "wtf"
- "I know! So weird."
- "No one"
- "yea right"
- "No"
- "yes it was"

Others have achieved [good results with imbalanced data](https://ojs.bonviewpress.com/index.php/J

[2022-03-03 17:27] ewheeler commented on #15
+1 for XLM models. Obtaining enough high-quality training data outside of English, French, and a handful of other popular languages would be extremely difficult.
XML models can effectively transfer their learnings from a large English language corpus to low-resource languages where comparably large, high-quality corpuses just don't exist.

https://arxiv.org/pdf/1901.07291
https://arxiv.org/abs/191

[2022-03-14 16:08] nathanfletcher opened #152 "Check on contributions counter status"

[2022-04-07 14:10] nathanfletcher opened #158 "Reduce Docker Build time/size"
The Kindly API has the ability to run in a Docker container via the repo's [Dockerfile](https://github.com/unicef/kindly/blob/main/api/Dockerfile).
However, the build of this step can take quite a long time to complete for both local testing and deployment which can get to close to 30mins from my local run.
Also at times, the build size exceeds the default configured size allocated by Docker.
As a

[2022-04-11 10:08] sabinevidal commented on #149
@nathanfletcher @amreenp7
Waiting on permissions to be granted for the Discord bot on the Azure console.
Will then be able to test and do the final touches!